{% extends "blog/base.html" %}
{% block left%}
<div class="col-md-9 bg-white">
    <div class="card-body">
        <p class="text-center lead text-info">关于我</p>
        <p>博主：陈安南</p>
        <p>年龄：刚好19</p>
        <p>职业：大二计科在读生</p>
        <p>暂存地：宣城</p>
        <p>联系方式：</p>
        <ul>
            <li>QQ：1085997520</li>
            <li>Wechat:I_Can49</li>
        </ul>
        <p>爱好:</p>
        <ul>
            <li>发发呆</li>
            <li>听听音乐</li>
            <li>看看电影</li>
            <li>打打篮球</li>
        </ul>
        <p>音乐</p>
        <ul>
            <li>各种纯音乐，后摇也听一点</li>
            <li>各种外文歌，日语，美语多一点</li>
            <li>内地的也听听，不过比较少（因为懒得找）</li>
        </ul>
        <p>影视：</p>
        <ul>
            <li>美剧，科幻向的电影</li>
            <li>国内喜剧（感觉有时候海外剧的笑点不在一个线）</li>
            <li>动漫也看看,都是那种网上吹爆了的</li>
        </ul>
        <p>书籍：</p>
        <ul>
            <li>说来惭愧，看书不是很多</li>
            <li>对心理学，经济学有点儿兴趣，也找过相关的书，不过没太坚持</li>
        </ul>
        <p>最近在想：</p>
        <ul>
            <li>多敲敲代码，提示自己（因为对这个还是有点兴趣）</li>
            <li>练练字（字不好看，前段时间也坚持过）</li>
            <li>好好学习</li>
            <li>锻炼身体，6块腹肌</li>
            <li>最重要的，多多坚持</li>
        </ul>
        <p class="mt-4"><b>总的来说，博主是一个没啥优点，缺点也不是特别明显的普通少年（大叔）。</b></p>
        <p><b>周围对我的评价：放荡不羁爱自由啊，骚啊，帅（假的）啊，有深度（假的）啊,云云</b></p>
        <p><b>没什么特别喜欢的人（有，但是错过了）和事</b></p>
        <p><b>没事就放空自己，找个地方发发呆</b></p>
        <p><b>物欲比较低，没什么强烈的欲望</b></p>
        <p><b>不过，一直在寻找</b></p>
        <p><b>一直在寻找自己的灵魂归宿</b></p>
        <p><b>只希望自己的心灵能有所寄存</b></p>
        <p><b>沉溺在自己的世界，不可自拔</b></p>
        <p><b>不敢有太多的奢求，只求天地之大，有一地可安家</b></p>
    </div>
</div>
{% endblock %}